<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link py-0" role="button" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="text15 fw700 text-primary">TransMonitor</span>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav mt-2 mt-lg-0 m-auto">
            <li class="nav-item">
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend border-0">
                          <div class="input-group-text border-0" style="background: none!important;"><img src='assets/img/Search.svg'></div>
                        </div>
                        <input type="text" class="form-control border-0" id="search" placeholder="Search...">
                    </div>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link py-0 px-20" role="button" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="text1">Support</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-0 px-20" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="text1">FAQ</span>
                </a>
            </li>
            <li class="nav-item notification-icon">
                <a class="nav-link py-0 px-20" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src='assets/img/notification.svg'>
                </a>
                <div class="notification-counter">8</div>
            </li>
            <li class="nav-item">
                <div class="flex-user">
                    <div class="text-end">
                        <a class="nav-link py-0 px-20" role="button" aria-haspopup="true" aria-expanded="false">
                            <small>Hello</small><br>
                            <span class="text1">Oluwaleke Ojo</span>
                        </a>
                    </div>
                    <div>
                        <li class="nav-item">
                            <img class="border-50" src='assets/img/user.png'>
                        </li>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>