<div class="contents">Orders</div>
<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/all_orders.svg' class="mr-20">All Orders</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/p_orders.svg' class="mr-20">Pending Orders</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/r_orders.svg' class="mr-20">Reconcilled Orders</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/person.svg' class="mr-20">Merchant Profile</a>
</div>