<div class="card text-center chart" style="border: none;">
    <div class="card-body">
        <mat-form-field>
            <mat-label>Search Payment</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              
              <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> User ID </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="userId">
                        {{element.userId}} 
                    </div>
                </td>
              </ng-container>
          
              
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>
          
              
              <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef> Completed </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="status_" [ngClass]="element.completed === true ? 'status_green' : 'status_warning'">
                        <div class="mr-2" [ngClass]="element.completed === true ? 'status-green' : 'status-warning'"></div>
                        <div>{{element.completed == true ? 'Reconcilled' : 'Pending'}}</div>
                    </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="userDetails(row)"></tr>
            </table>
          
            <mat-paginator class="ivyusers" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>