<div class="contents">Payments</div>
<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/all_payments.svg' class="mr-20">All Payments</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/r_payment.svg' class="mr-20">Reconcilled Payments</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/u_payment.svg' class="mr-20">Un - Reconcilled Payments</a>
    <a class="list-group-item list-group-item-action bg-light content-item"><img src='assets/img/m_set.svg' class="mr-20">Manual Settlement</a>
</div>